.ItemExpanded {
  padding: 0 40px;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 400ms cubic-bezier(0.060, 0.120, 0.000, 0.845);
}

.ItemExpanded .item-subtitle {
  opacity: .7;
  display: block;
	font-style: italic;
}

.ItemExpanded .item-meta {
  margin-top: 15px;
  padding-top: 25px;
  border-top: 2px solid rgba(255,255,255,.2);
}

/* Expanding states bound to item parent */
.item.is-expandingTo .ItemExpanded {
  opacity: 1;
  pointer-events: all;
  -webkit-transition-delay: 400ms;
}

.item.is-expandingFrom .ItemExpanded {
  opacity: 0;
  -webkit-transition: none;
}
