.Wheel .item {
  height: 10vh;
  -webkit-transition: all 400ms cubic-bezier(0.060, 0.120, 0.000, 0.845);
}

.Wheel .item a {
  box-sizing: border-box;
  display: table;
  height: 100%;
  padding: 0 25px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.Wheel .item a span {
  display: table-cell;
  vertical-align: middle;
}

/* Expanding states */
.Wheel .item.is-expandingTo {
  height: 90vh;
}

.Wheel .item.is-expandingTo a {
  font-size: 35px;
  padding: 40px 40px 0;
  height: auto;
}

.Wheel .item.is-expandingFrom a {
  opacity: 0;
}

.Wheel .item:active {
  -webkit-tap-highlight-color: rgba(0,0,0,.2);
}
